{% if tags and (('product' in tags) or ('blog' in tags)) %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "item": {
        "@type": "WebPage",
        "@id": "{{ env.site }}/",
        "name": "Home"
      }
    }
    {% if 'product' in tags %},
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@type": "WebPage",
        "@id": "{{ env.site }}/ear-plugs/",
        "name": "Ear Plugs"
      }
    },
    {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@type": "WebPage",
        "@id": "{{ env.site }}{{ page.url }}",
        "name": "{{ title }}"
      }
    }
    {% elif 'blog' in tags %},
    {
      "@type": "ListItem",
      "position": 2,
      "item": {
        "@type": "WebPage",
        "@id": "{{ env.site }}/blog/",
        "name": "Blog"
      }
    },
    {
      "@type": "ListItem",
      "position": 3,
      "item": {
        "@type": "WebPage",
        "@id": "{{ env.site }}{{ page.url }}",
        "name": "{{ title }}"
      }
    }
    {% endif %}
  ]
}
</script>
{% endif %}
